<section class="layout-fedi-navigation">
	<nav aria-label="main navigation " class="navbar is-white is-fixed" role="navigation">
		<div class="navbar-brand">
			<router-link class="navbar-item" to="/">
				<img alt="Logo" class="logo-top" src="../../../../src/assets/logo.png"> Joinfediverse
			</router-link>
			<a @click="menuVisible = !menuVisible" aria-expanded="false" aria-label="menu" class="navbar-burger burger"
						data-target="navbarBasicExample" role="button">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu" id="navbarBasicExample">
			<div class="navbar-start">
				<router-link class="navbar-item" to="/">
					<i class="fa fa-home"></i>
				</router-link>
				<router-link class="navbar-item" to="/recap">
					{{$('nav.recap')}}
				</router-link>
				<router-link class="navbar-item" to="/about">
					{{$('nav.about')}}
				</router-link>
				<div class="navbar-item has-dropdown is-hoverable">
					<router-link class="navbar-item" to="/discover">
					<i class="fa fa-compass"></i>	{{$('nav.discover')}}
					</router-link>

					<div class="navbar-dropdown">

						<router-link class="navbar-item" to="/discover">
							<i class="fa fa-compass"></i> Les sphères
							<!--							{{$('nav.discover')}}-->
						</router-link>
						<router-link class="navbar-item" to="/discover">
							<i class="fa fa-compass"></i> Les instances
<!--							{{$('nav.discover')}}-->
						</router-link>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<router-link class="button is-primary" to="/discover">
							<i class="fa fa-compass"></i> Rejoindre
							<!--							{{$('nav.discover')}}-->
						</router-link>
					</div>
				</div>
			</div>
		</div>
		<div id="navbarMobile" v-if="menuVisible">
			<ul>
				<li>
					mobile menu
				</li>
				<li>
					mobile menu
				</li>
			</ul>
		</div>
	</nav>
</section>

