<template src="./template.html"></template>
<style lang="scss" scoped src="./style.scss"></style>
<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';
  import {InstanceDescription, instancesList} from './instances-list';
  import axios from 'axios';

  @Component({
    components: {},
  })
  export default class DiscoverPreselection extends Vue {
    public instancesList: any = instancesList;
    public instancesListEnriched: any = {};
    public fetchedUrls: string[] = [];
    public fetchedSoftWares: any[] = [];
    @Prop({default: 'mastodon'}) public softwareName!: string;

    constructor() {
      super();

    }

    public mounted() {
      const list: [] = this.instancesList[this.softwareName];
      this.instancesList[this.softwareName] = this.shuffle(list);
    }

    public shuffle(instanceList: any) {
      if (!instanceList) {
        return;
      }    // fetch data only if we did not do this before
      // if (this.fetchedSoftWares.indexOf(this.softwareName) === -1) {

      instanceList = Object.create(instanceList);
      let i = instanceList.length - 1;
      let j = 0;

      for (i; i > 0; i -= 1) {
        j = Math.floor(Math.random() * (i + 1));
        instanceList[i] = instanceList[j];
        instanceList[j] = instanceList[i];
      }


      instanceList.map((instance: any) => {
        return this.fetchNodeInfo(instance);
      });
      // this.instancesListEnriched[this.softwareName] = instanceList;
      // this.fetchedSoftWares.push(this.softwareName);
      return instanceList;
      // }
      // console.log('this.fetchedSoftWares', this.fetchedSoftWares);

    }

    /**
     * add data to instance from real servers
     * @param instance
     */
    public async fetchNodeInfo(instance: InstanceDescription) {

      if (
          this.fetchedUrls.indexOf(instance.url) !== -1) {
        return;
      }
      let base = instance['url'];
      // console.log('this.softwareName', this.softwareName);
      if (this.softwareName) {
        let api = '/api/v1/instance';
        if (this.softwareName === 'peertube') {
          api = '/api/v1/config';
        }

        const url = 'https://' + base + api;
        // console.log('base', base, url);
        await axios.get(url).then((res: any) => {
          if (!instance.thumbnail) {

            instance.thumbnail = res.data.thumbnail;
          }


          if (this.softwareName === 'peertube') {
            // some peertube instance have just the name "peertube",
            // so we can keep the preselection name, which is more explicit.
            instance.title = (res.data.instance.name === 'Peertube' ? res.data.instance.name : instance.title);
            instance.registrations = res.data.signup.allowed;
          } else {
            instance.stats = res.data.stats;
            instance.title = res.data.title;
            instance.registrations = res.data.registrations;
          }

          instance.contact_account = res.data.contact_account;
          if (base) {

            this.fetchedUrls.push(base);
          }
          return instance;
        });
      }

    }
  }
</script>
