<section class="preselection-instances">

	<div class="not-found is-danger" v-if="!softwareName || ! instancesList[softwareName]">
		Logiciel "{{ softwareName }}" non trouvé dans la liste des instances suggérées.
	</div>
	<div class="instance-card card" v-for="instance in  instancesList[softwareName] "
	     v-if="softwareName && instancesList[softwareName]">
		<div class="card-content" v-if="instance">
			<div class="media">
				<div class="media-left">
					<figure class="image is-96x96">
						<img
									v-if="instance.thumbnail"
									v-bind:src="instance.thumbnail "
									alt="Placeholder image">
						<span v-if="softwareName === 'mastodon' && !instance.thumbnail">
							<img
										src="../../../assets/softwares-logo/mastodon.png"
										alt="Placeholder image">
						</span>
						<span v-if="softwareName === 'peertube'">
							<img
										src="../../../assets/softwares-logo/peertube.png"
										alt="Placeholder image">
						</span>
						<span v-if="softwareName === 'plume'">
							<img
										src="../../../assets/softwares-logo/plume.png"
										alt="Placeholder image">
						</span>
						<span v-if="softwareName === 'writefreely'">
							<img
										src="../../../assets/softwares-logo/writefreely.svg"
										alt="Placeholder image">
						</span>
						<span v-if="softwareName === 'funkwhale'">
							<img
										src="../../../assets/softwares-logo/funkwhale.svg"
										alt="Placeholder image">
						</span>
						<span v-if="softwareName === 'mobilizon'">
							<img
										src="../../../assets/softwares-logo/mobilizon.png"
										alt="Placeholder image">
						</span>
						<!--						<img-->
						<!--									v-if="!instance.thumbnail"-->
						<!--									src="https://bulma.io/images/placeholders/96x96.png"-->
						<!--									alt="Placeholder image">-->

					</figure>
				</div>
				<div class="media-content">
					<p class="title is-4">
						<a v-bind:href="'https://'+instance.url">
							<span v-if="!instance.title">
								{{instance.url}}
							</span>
							{{instance.title}}
						</a>
					</p>
					<p class="subtitle is-6" v-if="instance.title !== instance.url">
					<span class="url">
						<a v-bind:href="'https://'+instance.url">
							<i class="fa fa-globe"></i>
							{{instance.url}}
						</a>
					</span>
					</p>
					<div class="content">
				<span class="stats" v-if="instance.stats">
					<i class="fa fa-users"></i>
					{{instance.stats.user_count}}
					utilisateurs
				</span>
						<span class="lang">
							{{instance.langs}}
						</span>
						<span class="registrations" v-if="instance.registrations">
					<i class="fa fa-tick"></i>
					inscriptions ouvertes
				</span>
						<span class="registrations" v-if="instance.contact_account">
					contact :
					<a v-bind:href="instance.contact_account.url">
						<img class="avatar is24x24"
						     style="width: 24px;height: 24px;"
						     v-bind:src="instance.contact_account.avatar_static"
						     v-bind:alt="instance.contact_account.display_name">
						{{instance.contact_account.display_name}}
					</a>



				</span>
						<div class="description" v-if="instance.description">
							{{instance.description.fr}}
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

