<template src="./spheres.html"></template>

<style lang="scss" scoped src="./spheres.scss"></style>

<script lang='ts'>
import {Component, Vue} from 'vue-property-decorator';
import SphereLinkings from '@/components/spheres/linkings/index.vue';

@Component({
  components: {
    SphereLinkings
  },

})
export default class Spheres extends Vue {
  public descriptif: string = 'passez le curseur sur un centre d\'intérêt';
  public spheres: any = {
    microblog: false,
    photo: false,
    video: false,
    redaction: false,
    events: false,
    music: false,
  };
  public strophes: any = {
    part_1: false, // part categories
    part_2: false, // part instances
    strophe_1: false,
    strophe_2: false,
    strophe_3: false,
    strophe_4: false,
    strophe_5: false,
    strophe_6: false,
    strophe_7: false,
    strophe_8: false,
  };
  public texts: any = {
    microblog: 'Poster des messages, discuter avec d\'autres personnes et commenter partout sur le fédiverse',
    photo: 'Voir ou publier des photos',
    video: 'Voir ou diffuser des vidéos',
    redaction: 'Écrire des articles de blog',
    events: 'Organiser des évènements ou y participer',
    music: 'Écouter et partager de la musique',
  };

  private setDescription(descr: string) {
    this.descriptif = descr;
  }

  private created() {
    this.playAnimation();
  }

  private playAnimation() {
    const self = this;
    self.strophes.part_1 = true;
    self.strophes.part_2 = false;
    self.strophes.strophe_1 = false;
    self.strophes.strophe_2 = false;
    self.strophes.strophe_3 = false;
    self.strophes.strophe_4 = false;

    setTimeout(() => {
      self.strophes.strophe_1 = true;
      self.emphaseSphere('microblog');
    }, 200);
    setTimeout(() => {
      self.strophes.strophe_2 = true;
      self.emphaseSphere('redaction');
    }, 1000);
    setTimeout(() => {
      self.strophes.strophe_3 = true;
      self.emphaseSphere('music');
    }, 3000);
    setTimeout(() => {
      self.emphaseSphere('events');
    }, 3000);
    setTimeout(() => {
      self.disphaseSphere('microblog');
      self.disphaseSphere('redaction');
      self.disphaseSphere('music');
      self.disphaseSphere('events');
    }, 4000);
    setTimeout(() => {
      self.strophes.strophe_4 = true;
      self.emphaseSphere('video');
      self.emphaseSphere('microblog');
      self.emphaseSphere('music');
      self.emphaseSphere('redaction');
      self.emphaseSphere('photo');
    }, 5000);
    setTimeout(() => {
      self.disphaseSphere('microblog');
      self.disphaseSphere('redaction');
      self.disphaseSphere('music');
      self.disphaseSphere('events');
      self.disphaseSphere('photo');
      self.disphaseSphere('video');
    }, 10000);
  }

  private playAnimationInstances() {
    const self = this;
    self.strophes.part_1 = false;
    self.strophes.strophe_1 = false;
    self.strophes.strophe_2 = false;
    self.strophes.strophe_3 = false;
    self.strophes.strophe_4 = false;

    setTimeout(() => {
      self.strophes.part_2 = true;
      self.strophes.strophe_5 = true;
      self.emphaseSphere('microblog');
    }, 200);
    setTimeout(() => {
      self.strophes.strophe_6 = true;
      self.emphaseSphere('microblog');
    }, 2000);
    setTimeout(() => {
      self.strophes.strophe_7 = true;
      self.emphaseSphere('microblog');
    }, 4000);
    setTimeout(() => {
      self.strophes.strophe_8 = true;
      self.emphaseSphere('microblog');
    }, 6000);
  }

  private emphaseSphere(sphereName: string, autoHide: boolean = false) {
    this.spheres[sphereName] = true;
    if (autoHide) {
      const self = this;
      setTimeout(() => {
        self.disphaseSphere(sphereName);
      }, 3000);
    }

  }

  private disphaseSphere(sphereName: string) {
    this.spheres[`${sphereName}`] = false;
  }
}
</script>
