<div class='spheres columns is-mobile' xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<div class='descr column is-size-5 content'>
		<div class='first-part' v-if="strophes.part_1">
			<div class='strophe'>
				<h1>Découvrir le Fédiverse</h1>
				<p v-bind:class='{ enabled: strophes.strophe_1 }'>
					Tous ses univers communiquent librement entre eux. Ainsi, il vous suffit d’être inscrit sur l’un d’eux pour
					profiter et échanger du contenu de tous les autres sites.
				</p>
			</div>
			<p v-bind:class='{ enabled: strophes.strophe_2 }'>
				Par exemple, vous voulez principalement <strong> écrire des billets de blog </strong>, mais un ami vous a parlé
				d’une super <strong> vidéo </strong> que vous avez <strong> envie de partager ou de commenter </strong> à votre
				tour.
			<p v-bind:class='{ enabled: strophes.strophe_3 }'>
				Vous pouvez le faire depuis votre compte, sans avoir à en recréer un nouveau !
			</p>
			<p v-bind:class='{ enabled: strophes.strophe_4 }'>
				<button @click='playAnimation()' class='btn button is-large is-primary'>
					Revoir l'explication
				</button>
				<button @click='playAnimationInstances()' class='btn button is-large is-primary'>
					Continuer
				</button>
			</p>
			<hr>

		</div>
		<div class='fading-text part-2' v-if="strophes.part_2">
			<p v-bind:class='{ enabled: strophes.strophe_5 }'>
				Dans le fédiverse, les gens sont regroupés en communautés plus ou moins vastes nommées « instances ». Pour
				démarrer sur le fédiverse, vous devrez choisir une instance où vous inscrire.
			</p>
			<p v-bind:class='{ enabled: strophes.strophe_6 }'>
				Pour cela, vous pouvez voir si vous connaissez déjà des personnes dans une communauté ;

				si vous préférez un petit groupe intimiste ou un regroupant des milliers de personnes ;

				et enfin, si vous souhaitez une instance où on parle de tout, ou une ayant une thématique particulière.
			</p>
			<p v-bind:class='{ enabled: strophes.strophe_7 }'>
				Les nombreuses variantes vous offrent plus de flexibilité pour trouver l’instance qui vous convient le mieux !
				Quoi qu’il arrive, vous pourrez voir ce qui se passe dans les autres instances et échanger avec elles sans
				frontières. Ainsi, même si vos amis sont répartis dans différentes instances, rien ne vous limite dans vos
				échanges.

				En plus, il est possible de migrer sur une autre instance si vous le voulez !
			</p>
			<p v-bind:class='{ enabled: strophes.strophe_8 }'>

				Il ne vous reste plus qu'à choisir une instance pour pouvoir créer un compte et rejoindre le fédiverse !

				Avant de vous inscrire, pensez à vérifier que vous êtes en accord avec son code de conduite !


				<button @click='playAnimation()' class='btn button is-large is-primary'>
					Revoir l'explication
				</button>
			</p>
			<hr>


		</div>

	</div>
	<div class='column is-two-thirds-desktop'>

		<div class='speheres-box'>

			<div class='descriptif'>
				{{descriptif}}
			</div>
			<ul class='speheres'>
				<li class='sphere'
				    v-bind:class='{ enabled: spheres.photo.emphasis }'
				>
					<router-link to='/decouvrir/photo'>
						<img @mouseenter='setDescription(texts.photo)'
						     alt='photo'
						     class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Photo.png'>
						<SphereLinkings></SphereLinkings>
					</router-link>
				</li>
				<li class='sphere'
				    v-bind:class='{ enabled: spheres.microblog.emphasis }'>
					<router-link to='/decouvrir/microblog'>
						<img @mouseenter='setDescription(texts.microblog)'
						     alt='micro blogging' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Microblog.png'>

						<SphereLinkings></SphereLinkings>
					</router-link>
				</li>
				<li @mouseenter='setDescription(texts.redaction)' class='sphere'
				    v-bind:class='{ enabled: spheres.redaction.emphasis }'>
					<router-link to='/decouvrir/redaction'>
						<img alt='rédaction' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Texte.png'>
						<SphereLinkings></SphereLinkings>
					</router-link>
				</li>
				<li @mouseenter='setDescription(texts.video)' class='sphere'
				    v-bind:class='{ enabled: spheres.video.emphasis }'>
					<router-link to='/decouvrir/video'>
						<img alt='vidéo' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Video.png'>
						<SphereLinkings></SphereLinkings>
					</router-link>
				</li>
				<li @mouseenter='setDescription(texts.music)' class='sphere'
				    v-bind:class='{ enabled: spheres.music.emphasis }'>
					<router-link to='/decouvrir/music'>

						<img alt='musique' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Musique.png'>
						<SphereLinkings></SphereLinkings>
					</router-link>
				</li>

				<li @mouseenter='setDescription(texts.events)' class='sphere'
				    v-bind:class='{ enabled: spheres.events.emphasis }'>
					<router-link to='/decouvrir/events'>

						<img alt='rédaction' class='card-header-icon is-disabled'
						     src='../../assets/spheres/PictoJoinFedi-Evenements.png'>
						<SphereLinkings></SphereLinkings>
					</router-link>
				</li>
			</ul>

		</div>
	</div>
</div>
