<template>
	<div class="about">
		<h1>About joinfediverse</h1>
		<div class="descr">
			Une initiative de quelques gens qui oeuvrent pour le logiciel libre. Venez discuter avec nous sur Framateam.
		</div>
		<div class="contributors">
			Ont contribué à la création de joinfediverse.org:
			<ul>
				<li>
					<!--			Signature avec nos pseudos si ça vous dit-->
					<a href="https://mastodon.cipherbliss.com/@tykayn">
						@tykayn
					</a>
				</li>
			</ul>
		</div>
	</div>
</template>
