<template>
	<div class="home">
		<HelloWorld msg="Welcome to Your Vue.js App"/>
	</div>
</template>

<script>
    // @ is an alias to /src
    import HelloWorld from '@/components/HelloWorld.vue';

    export default {
        name      : 'home',
        components: {
            HelloWorld,
        },
    };
</script>
<style lang="scss">
	.home {
		text-align: center;
	}

	body {
		margin: 0;
		padding: 0;
		background: url("./../../src/assets/backgrounds/fr_Pepper-and-Carrot_by-David-Revoy_E22P01-fond2sans.jpg") fixed center;
		background-size: cover;
	}
</style>
