<template>
	<div class="about">
		<h1>About joinfediverse</h1>
		<div class="descr">
			Une initiative de quelques gens qui oeuvrent pour le logiciel libre. Venez discuter avec nous sur Framateam.
		</div>
	</div>
</template>
