<template src="./template.html"></template>
<style lang="scss" scoped src="./style.scss"></style>
<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import DiscoverPreselection from '@/components/discover/preselection/index.vue';

  @Component({
    components: {DiscoverPreselection},
  })
  export default class DiscoverPhoto extends Vue {

  }
</script>
