<template>
	<div class="discover container">
		<router-link to="/spheres" class="back-button button is-primary is-rounded">
			< retour
		</router-link>
		<router-view></router-view>
		<router-link to="/spheres" class="back-button button is-primary is-rounded">
			< retour
		</router-link>
	</div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import Presentation from '@/components/Presentation.vue';
  import Spheres from '@/components/spheres/Spheres.vue';

  @Component({
    components: {Spheres, Presentation},
  })
  export default class Decouvrir extends Vue {
  }
</script>

<style lang="scss" >

</style>
