<template>


	<section class="hero is-medium is-fullheight-with-navbar">
		<div class="hero-body">
			<div class="container">
				<router-link to="/spheres/">
					<h1 class=" title second-part slide-from-left"
								v-if="data.partLeft">
						Univers
					</h1>
					<h1 class=" title first-part slide-from-right"
								v-if="data.partRight">
						Fédéré
					</h1>

					<div class="combined" v-show="data.partCombined">

						<h1 class="title combined late-show show">
							Fédiverse
						</h1>
						<h2 class="subtitle is-size-2">
							L'univers Fédéré
						</h2>
						<button class="button is-dark discover">
							Découvrir
						</button>
					</div>

				</router-link>
			</div>
		</div>
	</section>

</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';

  @Component
  export default class HelloWorld extends Vue {
    private msg: string = 'Join';
    private fedi: string = 'Fédiverse';
    private data: any = {
      partLeft: true,
      partRight: true,
      partCombined: false,
    };

    private created() {
      const self = this;
      setTimeout(() => {
        self.data.partLeft = false;
        self.data.partRight = false;
        self.data.partCombined = true;
      }, 2500);

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
	a {
		:hover {
			color: aquamarine;
			transition: 0.3s color;
		}

		transition: 1s color;
	}

	.title {
		font-size: 6rem;
		text-shadow: 0 0 20px #000;
		color: white;
	}

	.subtitle {
		text-shadow: 0 0 20px #000;
		color: white;
	}

	h3 {
		margin: 40px 0 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0 10px;
	}

	a {
		color: #42b983;
	}


	.first-part, .second-part {
		position: static;
		float: left;
	}

	.combined {
		margin-bottom: 2em;
	}

	.late-show {
		opacity: 0;

	}

	.late-show.show {
		opacity: 1;
		transition: opacity ease 1s;
		transition-delay: 2s;
	}

	.slide-from-right {
		animation: animationFramesFromRightToCenter linear 2s;
		animation-iteration-count: 1;
		transform-origin: 0 0;
	}

	.slide-from-left {
		animation: animationFramesFromLeftToCenter linear 2s;
		animation-iteration-count: 1;
		transform-origin: 0 0;
	}


	@keyframes animationFramesFromRightToCenter {
		0% {
			opacity: 0;
			transform: translate(300vw, 0px);
		}
		22% {
			opacity: 1;
			transform: translate(60vw, 0px);
		}
		100% {
			transform: translate(50vw, 0px);
			opacity: 0;
		}
	}

	@keyframes animationFramesFromLeftToCenter {
		0% {
			opacity: 0;
			transform: translate(-300vw, 0px);
		}
		22% {
			opacity: 1;
			transform: translate(40vw, 0px);
		}
		100% {
			opacity: 0;
			transform: translate(50vw, 0px);
		}
	}
</style>
