<template>
	<div class="content container">
		<div class="sphere-instances">
			<div class="bubbles">
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
			</div>
			<div class="links">
				<div class="link"></div>
				<div class="link"></div>
				<div class="link"></div>
				<div class="link"></div>
				<div class="link"></div>
				<div class="link"></div>
				<div class="link"></div>
				<div class="link"></div>
			</div>
		</div>
		<article class="content">

			<p>
				Dans le fédiverse,
				<strong>
					les gens sont regroupés en communautés plus ou moins vastes nommées « instances »
				</strong>.
			</p>
			<p>
				<strong>Chaque instance peut définir ses règles</strong> et est gérée par une ou plusieurs personnes participant
				à la vie du groupe, les modérateurs.
				<br>

				Pour démarrer sur le fédiverse, <strong>vous devrez choisir une instance où vous inscrire.</strong>
				<br>
				Pour cela, vous pouvez voir <strong>si vous connaissez déjà des personnes</strong> dans une communauté ; si vous
				préférez <strong>un petit
				groupe intimiste</strong> ou un regroupant <strong>des milliers de personnes</strong> ; et enfin, si vous
				souhaitez une instance où on parle de tout, ou une <strong>ayant une thématique particulière.</strong>
				<br>
				Les nombreuses variantes vous offrent plus de flexibilité pour trouver <strong>l’instance qui vous convient le
				mieux
				!</strong>
				<br>
				Quoi qu’il arrive, <strong>vous pourrez voir ce qui se passe dans les autres instances et échanger avec
				elles</strong>
				sans frontières.
				<br>
				Ainsi, même si vos amis sont répartis dans différentes instances, rien ne vous limite dans vos échanges. En
				plus, il est possible de migrer sur une autre instance si vous le voulez.
			</p>

		</article>
		<div class="choice columns">
			<div class="column">
				<router-link to="/rejoindre">
					<button class="button is-primary">
						J'ai tout compris ! Je veux choisir une instance
					</button>
				</router-link>
			</div>
			<div class="column has-text-right-desktop-only">
				<button class="button is-info">
					Hmmmm, je peux revoir l'explication ?
				</button>
			</div>


		</div>

		<article>
			<h1>
				Conseils pour choisir son instance
			</h1>
			<p>
				Il ne vous reste plus qu'à choisir une instance pour pouvoir créer un compte et rejoindre le fédiverse !
				Avant de vous inscrire, pensez à vérifier que vous êtes en accord avec son code de conduite !

				Nous en avons pré-sélectionnées quelques unes pour vous faciliter la tâche :
			</p>
			<ul class="columns">
				<li class="column">
					<h2>
						Instance grand public
					</h2>
				</li>
				<li class="column">
					<h2>
						Instance moins grand public
					</h2>
				</li>
				<li class="column">
					<h2>
						Instance moins grand public
					</h2>
				</li>
			</ul>
			<p>
				Si vous souhaitez en voir plus, vous pouvez retrouver la liste des
				<router-link to="instance">
					instances
				</router-link>

				<i>
					{{selectedSoftware}}
				</i> ici :
			</p>
			<div class="official-website">

				<a v-bind:href="'https://join '+ selectedSoftware+'.org'" class="button is-primary">
					<i class="fa fa-planet"></i>
					join {{selectedSoftware}}
				</a>
			</div>
			Si vous n'êtes pas bilingue, pas de panique, il est souvent possible de filtrer les instances par langue !
			<br>
			Notez également que la plupart des instances sont maintenues par des personnes bénévoles, et qu'il est possible de
			leur proposer votre aide selon vos savoirs-faire (aide à la modération des contenus, dons, envoi de petits
			gâteaux…).
			<br>
			A bientôt sur le fédiverse !
			<br>
			<hr>

		</article>

	</div>

</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component({
    components: {},
  })
  export default class Instance extends Vue {
    @Prop() private selectedSoftware: string = 'logiciel sélectionné';

    @Prop() private instance: any = {
      image: 'https://placecage.com/200/300',
      name: 'Le nom',
      people: '670',
      description: 'la description',
    };
  }
</script>

<style lang="scss" scoped>

</style>
