<template>
	<article class="hello">
		<h1>Presentation du{{ fedi }}</h1>
		<div class="column is-6">
			<div class="card">
				<h2 class="title is-2">
					<strong> Le Fédi </strong> est un ensemble de médias et réseaux sociaux libres,
				</h2>
				<div class="subtitle">
					communiquant entre eux et non soumis à des algorithmes qui choisissent pour vous les contenus mis en avant et
					ceux que vous ne pourrez pas voir.
				</div>

				<p>
					- Le fédi parle Un langage commun, inclut de la transparence et du chiffrement pour protéger vos données.
				</p>
				<p>
					- Une alternative aux réseaux habituels, plus respectueuse de votre vie privée, sans pistage publicitaire, ni
					récupération de données et vous offrant plus de liberté de mouvement. 
				</p></div>
		</div>
		<div class="columns">

			<div class="column ">
				<div class="card">
					<div class="card-header">
						<p class="title is-2">
							« Dans le Fédi, les gens sont regroupés en communautés plus ou moins vastes nommés
							<span class="has-text-primary">
						« instances »
					</span>
							.
						</p>
					</div>
					<div class="content card-content">

						<p>
							{{$('discover.reliability')}}
						</p>
						<p>


							Comme chaque instance est gérée par une ou plusieurs personnes participant à la vie du groupe, vous pouvez
							librement entrer en communication avec votre ou vos modérateurs.
						</p>
						<p>
							Les nombreuses variantes vous offrent plus de flexibilité pour trouver le média et l’instance qui vous
							convient le mieux. Bien entendu, vous pouvez également en choisir plusieurs
						</p>
						<p>
							 Pour choisir une instance, vous pouvez voir si vous connaissez déjà des personnes dans une communauté ;
							Si vous préférez un petit groupe intimiste ou un regroupant des millions de personnes ; Et enfin, si vous
							souhaitez une instance où on parle de tout, ou une ayant une thématique particulière. 
						</p>
						<p>
							 Quoi qu’il arrive, vous pourrez voir ce qui se passe dans les autres instances et échanger avec elles
							sans frontières. (des liens apparaissent entre les instances) Ainsi, même si vos amis sont répartis dans
							différentes instances, rien ne vous limite dans vos échanges. En plus, il est très facile de migrer vers
							un autre groupe si vous le voulez.

						</p>

						<p class="has-text-primary">
							Cliquez sur les différents médias pour en savoir plus !
						</p>
					</div>
				</div>


			</div>
		</div>

		<router-link to="/spheres"></router-link>
	</article>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component
  export default class Presentation extends Vue {
    @Prop() private fedi: string = 'Fédiverse';
  }
</script>

<style lang="scss" scoped>

</style>
