<template>
	<div class="container content is-white">

		<h1 class="title is-1">
			Récapitulatif autour du fédi
		</h1>

		<div class="tile is-ancestor">
			<div class="tile is-4">
				<!-- 1/3 -->
				<p>

					<a href="https://tof.framasoft.org/">
						Tales of the fediverse
					</a>
					Un espace de publication libre, sous certaines consignes pour que tout un chacun puisse parler du sujet, dans
					un projet hébergé par Framasoft.

				</p>
			</div>
			<div class="tile">
				<!-- This tile will take the rest: 2/3 -->
				<h2 class="title is-2">
					FedUp 2020
				</h2>
				<a href="assets/img/fediposter.png">
					<figure>
						<img alt="fedi poster" src="../assets/img/fediposter_small.png">
					</figure>
				</a>

				Fed Up!, chronological diagram of federated social web projects,
				<a href="https://gitlab.com/lidia_p/fediposter">
					by Lídia Pereira, Artemis Gryllaki and Bohye Woo, Jan 2020.
				</a>
			</div>
		</div>


		<p>

			<br>
			<section class="softwares">

				A resource on Fediverse, federated networks, mesh networks, distributed web, alternative internet, alternative
				social media, decentralisation. Software projects

				<br>

				<article>
				p
				<ul>
					<li>
						<a href="https://beakerbrowser.com/">Beaker</a>
						, experimental browser with a p2p protocol, *2016.
					</li>
					<li>
						<a href="https://conversations.im/">Conversations</a>
						, open source XMPP/Jabber client for Android, *2014.
					</li>
					<li>
						<a href="https://dat.foundation/">Dat</a>
						, p2p protocol, a project for distributed data synchronization, *2013.
					</li>
					<li>
						<a href="http://diasporafoundation.org/">Diaspora</a>
						, self-hosted social networking service, *2010.
					</li>
					<li>
						<a href="https://dokie.li/">dokieli</a>
						, clientside editor for decentralised article publishing, annotations and social interactions, *2015.
					</li>
					<li>
						<a href="https://friendi.ca/">Friendica</a>
						, distributed social network, *2010.
					</li>
					<li>
						<a href="https://gnu.io/social/">GNU social</a>
						, FLOSS microblogging server, formerly StatusNet, *2010.
					</li>
					<li>
						<a href="https://funkwhale.audio/">Funkwhale</a>
						, decentralised audio platform, *2019.
					</li>
					<li>
						<a href="https://zotlabs.org/page/hubzilla/hubzilla-project">Hubzilla</a>
						, communication platform, formerly RedMatrix, *2015.
						<a href="https://medium.com/we-distribute/the-do-everything-system-an-in-depth-review-of-hubzilla-3-0-692204177d4e">
							Review
						</a>
						.
					</li>
					<li>
						<a href="https://ipfs.io/">IPFS</a>
						, protocol and p2p network for storing and sharing data in a distributed file system, *2015.
					</li>
					<li>
						<a href="https://joinmastodon.org/">Mastodon</a>
						, self-hosted social networking service, *2016.
					</li>
					<li>
						<a href="https://misskey.page/">Misskey</a>
						, decentralized microblogging service, *2014.
					</li>
					<li>
						<a href="https://joinpeertube.org/">PeerTube</a>
						, federated video platform powered by ActivityPub and WebTorrent, *2018.
					</li>
					<li>
						<a href="https://pixelfed.org/">PixelFed</a>
						, image sharing platform, *2018.
					</li>
					<li>
						<a href="http://pump.io/">Pump.io</a>
						, general purpose activity streams engine that can be used as a federated social networking protocol, *2013.
					</li>
					<li>
						<a href="https://www.scuttlebutt.nz/">Scuttlebutt</a>
						, decentralised secure gossip platform, *2018.
					</li>
					<li>
						<a href="https://socialhome.network/">Socialhome</a>
						, federated personal profile with social networking functionality, *2016.
					</li>
					<li>
						<a href="https://writefreely.org/">WriteFreely</a>
						, open source platform for building a writing space on the web.
					</li>
					<li>
						<a href="https://yacy.net/">YaCy</a>
						, distributed search engine, *2016.
					</li>
				</ul>
				<p><em>Protocols</em>:
					<a href="https://en.wikipedia.org/wiki/ActivityPub">ActivityPub</a>
					,
					<a href="https://en.wikipedia.org/wiki/OStatus">OStatus</a>
					,
					<a href="https://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol">XMPP</a>
					,
					<a href="https://en.wikipedia.org/wiki/Diaspora_%28social_network%29">Diaspora</a>
					,
					<a href="http://pump.io/">Pump.io</a>
					,
					<a href="https://zotlabs.org/help/en/developer/zot_protocol">Zot</a>
					,
					<a href="https://hypercore-protocol.org/">Hypercore</a>
					.
				</p>
				<p><em>More projects and context</em>:
					<a href="https://en.wikipedia.org/wiki/Comparison_of_software_and_protocols_for_distributed_social_networking">
						Wikipedia
					</a>
					,
					<a href="https://fediverse.party/">Fediverse.party</a>
					.
				</p>
			</article>

			<sub> source:
				<a href="https://monoskop.org/Federated_networks">monoskop</a>
			</sub>
		</section>
		</p>		<h2>
		Ressources et Articles à propos du fédi
	</h2>
		<p>
			Logo

			<img src="https://engagemedia.org/wp-content/uploads/2020/07/Fediverse-3D_logojpg-1024x576.jpg"
						alt="3D visualization of a proposed Fediverse logo. Image via Wikimedia Commons by Eukombos. CC BY-SA 4.0."/>
			<br> https://engagemedia.org/2020/facebook-fediverse-alternatives
		</p>
		<h2 class="title is-2">
			A Propos de Joinfediverse.org en particulier
		</h2>
		<p>
			Discussion autour du projet de site vitrine du fediverse, accessible aux non-techniques.
			<a href="https://framateam.org/ux-framatrucs/channels/joinfediverse">Framateam / Joinfediverse</a>
			<br>
			<a href="https://mypads.framapad.org/p/portail-d-entree-de-la-federation-6m1n2v75j">Pad principal</a>
			<br>
			<a href="https://llaq-drive.mycozy.cloud/public?sharecode=0KkWTBzdYtzv">
				Logos
			</a>
			<br>
			<a href="https://framagit.org/groups/join-fediverse-project/">
				Groupe framagit
			</a>
			<br>
			<a href="https://sketch.cloud/s/kR8el/v/KvanRg">
				Maquettes
			</a>
		</p>
		<article>
			<h2>C'est un bon protocole, ça ActivityPub? </h2>
			<p>
				Vous savez, moi je ne crois pas qu’il y ait de bonne ou de mauvaise situation. Moi, si je devais résumer ma vie aujourd’hui avec vous, je dirais que c’est d’abord des rencontres. Des gens qui m’ont tendu la main, peut-être à un moment où je ne pouvais pas, où j’étais seul chez moi. Et c’est assez curieux de se dire que les hasards, les rencontres forgent une destinée… Parce que quand on a le goût de la chose, quand on a le goût de la chose bien faite, le beau geste, parfois on ne trouve pas l’interlocuteur en face je dirais, le miroir qui vous aide à avancer. Alors ça n’est pas mon cas, comme je disais là, puisque moi au contraire, j’ai pu : et je dis merci à la vie, je lui dis merci, je chante la vie, je danse la vie… je ne suis qu’amour ! Et finalement, quand beaucoup de gens aujourd’hui me disent « Mais comment fais-tu pour avoir cette humanité ? », et bien je leur réponds très simplement, je leur dis que c’est ce goût de l’amour ce goût donc qui m’a poussé aujourd’hui à entreprendre une construction mécanique, mais demain qui sait ? Peut-être simplement à me mettre au service de la communauté, à faire le don, le don de soi…
			</p>
		</article>
	</div>
</template>

export default  {
name: "recapitulatif",
props: [],
mounted() {

},
data() {
return {

}
},
methods: {

},
computed: {

}
}

<style scoped>
	img{
		margin: 1em;
	}
</style>
