<template>
	<div class="hello container content">
		<h1>Rejoindre le {{ fedi }}</h1>
		<h2>
			Choisir une instance
		</h2>
		<div>
			<div class="todo">
				Fonctionnalité de filtre en cours de développement.
				Pour l'instant vous pouvez visiter dans cette liste n'importe quelle instance et choisir d'y créer un compte si vous le souhaitez.
			</div>
			<div class="instances-list container">
				<ul>
					<li class="" v-for=" (item,softwareName) in listInstances">
						<div class="instance-item" v-for="i in item ">
							<a v-bind:href="'https://'+i.url">
								<div class="columns">
									<div class="column">
										<h2>
											{{i.title}}
										</h2>
									</div>
									<div class="column">
										<sub class="visit-button pull-right has-background-success is-rounded">
											visiter
										</sub>
										<sub class="software pull-right has-background-info is-rounded  ">
											{{softwareName}}
										</sub>
									</div>
								</div>



							</a>
							<p>
								{{i.description.fr}}
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div v-if="showSearchForm">
				Je cherche un endroit qui permette <strong>principalement</strong> de:
				<select id="" name="" class="input">
					<option value="microblogging">publier des messages et des médias de toutes sortes</option>
					<option value="photo">publier des photos</option>
					<option value="photo">rédiger et lire des articles</option>
					<option value="photo">gérer de la musique</option>
					<option value="photo">publier des chaînes de vidéos</option>
					<option value="events"> organiser des évènements</option>
				</select>
				<div class="columns">
					<div class="column">
						où l'on parle :
						<select id="lang" name="lang" class="input">
							<option value="all">n'importe quelle langue</option>
							<option value="en">anglais</option>
							<option value="fr">français</option>
						</select>
					</div>
					<div class="column">
						Ayant ce nombre de personnes:
						<select id="lang" name="people" class="input">
							<option value="all">N'importe</option>
							<option value="10m">moins de 10 millions</option>
							<option value="100000">moins de 100 000</option>
							<option value="1000">moins de 1000</option>
						</select>
					</div>
					<div class="column">
						Avec cette thématique:
						<select id="lang" name="theme" class="input">
							<option value="all">N'importe</option>
							<option value="tout">tout</option>
						</select>
					</div>
				</div>


				<p>
					Ces instances pourraient vous intéresser:
				</p>
				<div class="nothing-found">
					Aucun résultat
				</div>
				<ul class="columns suggestion-instance">
					<li class="column is-4">
						<Instance></Instance>
					</li>
				</ul>

			</div>

		</div>
	</div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';
  import {instancesList} from '@/components/discover/preselection/instances-list';

  @Component
  export default class Rejoindre extends Vue {
    @Prop() private fedi: string = 'Fédiverse';
    @Prop() private showSearchForm: boolean = false;
    @Prop() private listInstances: any = instancesList;

  }
</script>

<style lang="scss" scoped>
	ul li {
		list-style-type: none;
	}

	.instances-list {
		width: 90%;
	}
	.instance-item{
		min-height: 3em;
		border-bottom: 1px solid #ccc;
		display:block;
		padding: 1rem;
		a {
			color: midnightblue;
		}
	}
	.software{
		padding:0.5em;
		border-radius: 1em;
		margin-left: 2em;
		color: white;
		min-width: 15ch;
		text-align: center;
		&:first-letter{
			text-transform: uppercase;
		}
	}
	.visit-button{
		padding: 1em;
		border-radius: 1em;
		margin-left: 2em;
		color: white;
	}
</style>
