<section class="sphere-category">
	category : {{category}}
	<div class="microblog" v-if="category === 'microblog'">
		<img
					alt='photo'
					class='title-icon'
					src='../../../assets/spheres/PictoJoinFedi-Photo.png'>
		<div class="description">
			Microblog
		</div>
		<discover-microblogging></discover-microblogging>
	</div>
	<div class="photo" v-if="category === 'photo'">
		<discover-photo></discover-photo>
	</div>
</section>

