<template>

	<div id="app">
		<section class="hero is-full">
			<!-- Hero head: will stick at the top -->
			<LayoutFedi></LayoutFedi>

			<!-- Hero content: will be in the middle -->
			<div class="hero-body">
				<div class="view">
					<transition name="slide-left">
						<router-view></router-view>
					</transition>
				</div>
			</div>

			<footer class="footer">
				<div class="content has-text-centered">
					<p>
						<strong>Joinfediverse</strong> by
						<a href="https://jgthms.com">its contributors</a>
						. The source code is licensed
						<a href="http://opensource.org/licenses/mit-license.php">GNU affero v3</a>
						.
						<a href="https://framateam.org/ux-framatrucs/channels/joinfediverse">
							<i class="fa fa-bubble"></i>
							Discuss on Framateam
						</a>
						<a href=" https://framagit.org/tykayn/joinfediverse.git">
							<i class="fa fa-gitlab"></i>
							Sources
						</a>
					</p>
				</div>
			</footer>

			<!-- Hero footer: will stick at the bottom -->
			<div class="hero-foot is-dark">
				<nav class="navbar">
					<router-link class=" is-info discover button " to="/spheres">Découvrir</router-link>
					<router-link class=" is-primary join button is-danger bd-rainbow" to="/rejoindre">Rejoindre
					</router-link>
				</nav>
				<!-- JoinFediverse démo par CipherBliss-->
			</div>
		</section>

	</div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import HelloWorld from './components/HelloWorld.vue';
  import LayoutFedi from './layout/fedi-navigation/index.vue';

  @Component({
    components: {
      HelloWorld,
      LayoutFedi,
    },
  })
  export default class App extends Vue {
  }
</script>

<style lang="scss">

	@import "~bulma/bulma";

	body {
		margin: 0;
		padding: 0;
		background: url("assets/backgrounds/fr_Pepper-and-Carrot_by-David-Revoy_E22P01-fond2avec.jpg") fixed center;
		background-size: cover;
	}

	.logo-top {
		display: inline-block;
		margin-right: 1em;
	}

	#app {
		min-height: 90vh;
		padding-bottom: 10vh;
		overflow: hidden;

		.hero-foot {
			.navbar {
				position: fixed;
				bottom: 0;
				height: 10vh;
				display: block;
				width: 100vw;
				padding: 1.25rem 0.5rem;
				background: #222;

				.btn {
					margin: 0.5em;
					padding: 1.5em;
					border-radius: 3px;
					border: solid 1px #2c3e50;
					background: #2c3e50;
					color: white;
					font-weight: 600;

					&:hover {
						background: #222;
						color: yellowgreen;
					}
				}
			}

			.discover {
				float: left;
			}

			.join {
				float: right;
				margin-right: 1em;
			}
		}
	}

	.marged {
		margin: 1rem 0;
	}

	.btn {
		@extend .button;
	}

	.title-icon {
		width: 10em;
		height: 10em;
		margin-top: 1em;
	}

	.slide-left-enter-active,
	.slide-left-leave-active,
	.slide-right-enter-active,
	.slide-right-leave-active {
		transition-duration: 0.5s;
		transition-property: height, opacity, transform;
		transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
		overflow: hidden;
	}

	.slide-left-enter,
	.slide-right-leave-active {
		opacity: 0;
		transform: translate(2em, 0);
	}

	.slide-left-leave-active,
	.slide-right-enter {
		opacity: 0;
		transform: translate(-2em, 0);
	}
</style>
